animations {
    workspace-switch {
        spring damping-ratio=0.82 stiffness=1100 epsilon=0.0001
    }

    window-open {
        duration-ms 140
        curve "cubic-bezier" 0.13 0.99 0.29 1.1
    }

    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }

    horizontal-view-movement {
        spring damping-ratio=0.9 stiffness=900 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=0.9 stiffness=900 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=0.9 stiffness=850 epsilon=0.0001
    }
}