layout {
    gaps 3
    center-focused-column "on-overflow"
    always-center-single-column
    background-color "#111826"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    focus-ring {
        off
    }

    border {
        on
        width 3
        active-color "#82dccc"
        inactive-color "#182545"
        urgent-color "#00aa84"
    }

    shadow {
        off
    }

    tab-indicator {
        on
        hide-when-single-tab
        place-within-column
        gap 4
        width 4
        length total-proportion=1.0
        position "right"
        gaps-between-tabs 2
        corner-radius 6
        active-color "#007d6f"
        inactive-color "#82dccc"
        urgent-color "#00aa84"
    }

    insert-hint {
        color "#82dccc80"
    }

    // Hyprland used 3 inner gaps and 5 outer gaps.
    struts {
        left 2
        right 2
        top 2
        bottom 2
    }
}

blur {
    passes 2
    offset 3
    noise 0.02
    saturation 1.25
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

overview {
    backdrop-color "#111826"
}

hotkey-overlay {
    skip-at-startup
    hide-not-bound
}